/* calculadora*/

body{
    background-color: rgb(195, 150, 247);
    color: rgb(14, 3, 15);
    font-family: 'Nerko One', cursive;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    width: 242px;
    border: 1.5px solid #1e1422;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1px 4px #ecf0f3,                -2px -2px 4px #0f0f0f;
}

#result{
    width: 95%;
    height: 50px;
    margin-bottom: 5px;
    box-shadow: inset 1px 0 2px #a09f9f;
}

.btn,
.operator{
    width: 56px;
    height: 60px;
    margin-bottom: 5px;
    font-weight: 500;
    box-shadow: 1px 1px 1px #363636,
                -1px -1px 3px #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.operator:hover{
    background-color: #d698f7;
    color:rgb(238, 234, 234);
}
.btnEqual{
    width: 49%;
    height: 60px;
    background-color: rgb(250, 202, 144);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

/* boton modo oscuro*/

.dark{
    background-color: rgb(14, 3, 15);
    color: #d7b1ec;
}

.fa-moon{
    background:rgb(238, 234, 234);
    position: relative;
    cursor: pointer;
    border: 1px solid #17002b;
    width: 30px;
    height: 30px;
    top: 16vh;
    left: 38vh;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
.fa-moon span{
    
    line-height: 40px;
    display: block;
    color: #fff;
    background: none;
}


/* Mobile */

@media (max-width: 768px) {
    .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn,
    .operator{
        width: 50px;
        height: 60px;
        margin-bottom: 5px;
        box-shadow: 1px solid #363636;
    }
    .operator:hover{
        background-color: #bd6af5;
    }
    .btnEqual{
        width: 49%;
        height: 60px;
        background-color: rgb(255, 219, 175);
    }
}